<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892948304434-1kis35kutoihntc7nb3ovrtvufasqsi3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892948304434-1kis35kutoihntc7nb3ovrtvufasqsi3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>892948304434-8vnr3lk2nu7pkhanjj2fv4ltrgvabpq8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDcdevxCDRmwoTvtINVGfG4Sebqpc-BStU</string>
	<key>GCM_SENDER_ID</key>
	<string>892948304434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leonamin.cuteshrew.flutterFirebaseAuthentication</string>
	<key>PROJECT_ID</key>
	<string>test-sns-login-d401e</string>
	<key>STORAGE_BUCKET</key>
	<string>test-sns-login-d401e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892948304434:ios:45c333fc85db43de9f222b</string>
</dict>
</plist>